{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des auteurs</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.username }}</td>
                    <td>{{ author.email }}</td>
                    <td>
                        <a href="{{ path('author_edit', {id: author.id}) }}">Edit</a>
                        <a href="{{ path('author_delete', {id: author.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Ajouter un nouvel auteur</a>
{% endblock %}
